body{
    font-family: Arial, Helvetica, sans-serif;
    width: 1200px;
}

.header{
    background-color:blue ;
}

.barra-superior{
    display: flex;     
}

.contenedor-menu{

}

.menu-principal{
    display: flex;
}

..menu-principal__item{

}